<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Resumen</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Ingeniero de software trabajando actualmente en TCPIP en proyecto de airline internet booking engine para varias aerolíneas internacionales, anteriormente dentro del negocio de la facturación electrónica (México) e email marketing para grandes empresas y algo dentro del ambiente bancario. <br/><br/>
			Soy creyente del desarrollo ágil, tomando de él las mejores prácticas como test driven development, entregas continuas de valor, principios de desarrollo orientados a objetos, patrones de diseño de programación orientada a objetos y de alta disponibilidad.
		</div>
		<br>
	</div>
</div>
